a {
color: #37749e;
}

.a_button {
	text-align:center;
	color:#3d3c4f;
	text-decoration: none;
	font-size:15px;
	
}

mark {
background-color: transparent;	
color:red;
}


#officer  {
background-color: transparent;	
color: #325e93;
}

.pop {
margin:auto;
padding: 20px;
border: 3px solid black;
width: 30%;
text-align: center;
}

.pop a {
	text-decoration: none;
}

.pop button {
	width: 20%;
}

.link1  {
	padding-right: 10px;
}

.notlog{
	background-color: #080426;
	color: white;
	padding: 3px;
}


body {
	font-family: "Verdana";
	background-color: #dfdce8;
	color: #442b0d;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
	
}

li {
	padding: 3px;
	color: #442b0d;
}

#left {
float: left;
background-color: #080426;
color: white;	
}

#right {
text-align: right;
background-color: #080426;
}

#right a {
color: white;
}

#rightalign {
float: right;	
}

h1 {
color: #1b2c42;
}


input[type=submit] {
    padding:2px 8px; 
	height: 25px;
    width: 120px;
	text-align: center;
}

input {
	margin-bottom:5px;
}

.bt1 {
	float: left;
	padding-right: 5px;
	
}



.bt2 {
	float: left;
	padding-right: 5px;
	
}

table, th, td{
	padding-left: 25px;
	padding-right:10px;
	position:relative;
	top: -5px;
}

textarea {
	width: 55%;
}

.lst2 ul, .lst2 li {
	list-style-type: none; 
	display: inline;
	padding-right: 15px;
	font-size:20px;
}